@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat+Alternates&family=Montserrat:wght@100;300;400&family=Open+Sans:ital,wght@1,300&family=Shantell+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

.header {
    margin: 0;
    background-color: #C71585;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    color: #9ACD32;
    font-size: 20px;
}

.menu ul {
    font-weight: 400%;
    list-style: none;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.menu li {
    font-family: 'Montserrat', 'sans-sherif';
    margin: 0 5px;
}

.menu a {
    color: #9ACD32;
    text-decoration: none;
}

.menu a:hover {
    color: aqua;
}

.container {
    margin: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__conteudo {
    margin: 5em;
    display: flex;
    flex-direction: column;
}

.titulo__container {
    margin: 0 0 1em;
    font-family: 'Montserrat', 'sans-sherif';
    color: #9ACD32;
    font-size: 40px;
    text-align: center;

}

.paragrafo {
    margin: 4px;
    color: gray;
    font-family: 'Inter', sans-sherif;
    font-size: 25px;
    text-align: left;
}

.conteudo__exemplos {
    display: flex;
    box-sizing: border-box;
    margin-top: 1em;
    border-color: #C71585;
    border-style: solid;
    width: 80%;
    align-items: center;
    padding: 30px;
}

.conteudo__lista {
    font-family: 'Inter', sans-sherif;
    color: gray;
    font-size: 20px;
}

.container__conteudo__caixa {
    margin: 5em;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.paragrafo__conteudo__caixa {
    margin-top: 50px;
    color: gray;
    font-family: 'Inter', sans-sherif;
    font-size: 25px;
    text-align: left;
}

.paragrafo__conteudo__caixa__2 {
    margin-top: 20px;
    color: gray;
    font-family: 'Inter', sans-sherif;
    font-size: 25px;
    text-align: left;
}

.paragrafo__section {
    margin-top: 20px;
    color: gray;
    font-family: 'Inter', sans-sherif;
    font-size: 25px;
    text-align: left;
}

.imagem__conteudo {
    width: 500px;
    height: 500px;
}

.titulo__container__conteudo {
    margin: 0 0 1em;
    color: #9ACD32;
    font-size: 30px;
    text-align: center;
}

.tabela {
    font-family: 'Inter', sans-sherif;
    color: gray;
    font-size: 20px;
    width: 200px;
    border: 2px;
    border-style: solid;
    border-color: #C71585;
    margin: auto;
    text-align: center;
    white-space: nowrap;
}

td {
    border: 2px solid #C71585;
    padding: 50px;
}

.conteudo__sugestao {
    display: flex;
    box-sizing: border-box;
    margin-top: 3em;
    border-color: #C71585;
    border-style: solid;
    width: 100%;
    align-items: center;
    padding: 30px;
}

.rodape {
    width: 100%;
    padding: 20px;
    background-color: #C71585;
    text-align: center;
}

.titulo__rodape {
    font-family: 'Montserrat', 'sans-sherif';
    color: #9ACD32;
}

.lista__rodape {
    font-family: 'Open Sans', 'sans-sherif';
    color: white;
    font-weight: 600;
    margin: 4px;
    font-size: 20px;
    list-style: none;
}